---
import GalleryItem from './GalleryItem.astro';

const imageModules = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/*.{jpeg,jpg}',
  { eager: true }
);

const images = Object.keys(imageModules)
  .sort()
  .map((key) => imageModules[key].default);
---

<div class="grid">
  {images.map((image, index) => (
    <GalleryItem image={image} index={index} />
  ))}
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
  }

  @media (max-width: 950px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 300px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>
